:root {
  --blue: "#0075ff";
  --blue-alt: "#0d69d5";
  --orange: "#f59e0b";
  --green: "#22c55e";
  --red: "#f44336";
  --grey: "#888";
}

/* Components */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* Components */

/* Box  */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
/* Box */

/* Position */
.p-relative {
  position: relative;
}
/* Position */

/* Background Color */
.bg-white {
  background-color: #fff;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue);
}
/* Background Color */

/* Color */
.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
.text-grey {
  color: var(--grey);
}
/* Color */

/* Font */
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-style: 15px;
}
.text-center {
  text-align: center;
}
/* Font */

/* Width */
.w-fill {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
/* Width */

/* Margin */
.m-0 {
  margin: 0;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
/* Margin */

/* Padding */
.p-0 {
  padding: 0;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
/* Padding */

/* Border */
.border-none {
  border: none;
}
/* Border */

/* Border Radius */
.radius-6 {
  border-radius: 6px;
}
.radius-10 {
  border-radius: 10px;
}
/* Border Radius */

/* list */
.list-none {
  list-style: none;
}
/* list */

/* Media */
@media (max-width: 767px) {
  .d-block-sm {
    display: block;
  }
  .hide-sm {
    display: none;
  }
  .text-center-sm {
    text-align: center;
  }
}
/* Media */
